.fillImage {
  position: relative;
  height: 300px;
  width: 100%;
}

.textEdit{
  min-height: 100vh;
}

.imgWithText {
  position: relative;
  height: 300px;
  z-index: -1;
  opacity: 1;
  width: 30vw;
}

.input {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* .input{
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin:auto;
    height: 200px;
  } */

.redColor {
  color: red;
}

.inputDropYt {
  cursor: pointer;
  color: #000000;
  text-align: center;
  padding: 0.7rem 0;
  border-radius: 10rem;
  font-weight: 500;
  font-size: 1rem;
  width: 73vw;
}

.inputDrop {
  display: flex;
  cursor: pointer;
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url('../../public/images/thumbNailImage.png');
}
.inputDropNoBg {
  cursor: pointer;
  color: #000000;
  text-align: center;
  border-radius: 10rem;
  font-weight: 500;
  font-size: 1rem;
  width: 73vw;
}

.cursorHand {
  cursor: pointer;
}

.iframeYouTube {

  background-color: aqua;

}

.youtubeInput {
  color: #000000;
  text-align: center;
  padding: 1.5rem 0;
  margin: 0.25rem;
  border-radius: 10rem;
  font-weight: 500;
  font-size: 1rem;
  width: 90vw;
  border: none;
  caret-color: #040157;
}