.todoCheckbox{
    width: 16px;
    height: 16px;
}
.registerError{
    font-size: 6pt;
    color:red;
}
.notificationPopover {
    --bs-popover-max-width: 400px;
}

.icon-green {
    color: green;
}

.icon-red {
    color: red;
}