.modal-content {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;    */
}

.modal-title {
    /* margin-bottom: 20px; */
}

.modal-label {
    margin-top: 20px;
    margin-bottom: 20px;
}

.password-btn {
    margin-top: 30px;
}